*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    background: linear-gradient(to bottom right, #FCFFA6, #C1FFD7,#B5DEFF,#CAB8FF);
    background-repeat: no-repeat;
}
/* navigation bar */
.nav-header{
    margin-bottom: 20px;
}
.nav-header ul{
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: #CAB8FF;
}
.nav-header li{
    float: right;
}
.nav-header li a{
    display: block;
    padding: 10px;
    color: #3c8254;
    text-decoration: none;
   
}
/* about section */
.about-section{
    
    width: 1050px;
    display: flex;
    margin: auto;
    
}
.about-section img{
    height: 400px;
    width: 400px;
}
.my-title{
    margin: auto;
}
.my-title .my-name{
    color: rgb(102, 27, 193);
}


